<div class="container mt-4">
    <div class="col-lg-6 offset-lg-3">
        <div class="card text-center">
            <div class="card-body">
                <h3>Datos del empleado</h3>
                <span class="badge bg-danger" *ngIf="submitted && createEmpleado.invalid">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
                <form class="mt-4" [formGroup]="createEmpleado" (ngSubmit)="agregarEditarEmpleado()">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control form-control-lg" placeholder="Nombre" formControlName="nombre">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control form-control-lg" placeholder="Apellido" formControlName="apellido">
                        </div>
                    </div>
                    <input type="date" class="form-control form-control-lg mt-3" placeholder="Fecha de nacimiento" formControlName="fechaNacimiento">
                    <input type="number" class="form-control form-control-lg mt-3" placeholder="Salario" formControlName="salario">
                    <div>
                        <button type="submit" class="btn btn-dark btn-lg"><i class="fas fa-save"></i> Guardar</button>
                        <button type="text" class="btn btn-secondary btn-lg m-3" routerLink="/empleados"><i class="fas fa-arrow-left"></i> Volver</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>