/* You can add global styles to this file, and also import other style files */

body {
    background: rgb(2, 0, 28);
    background: linear-gradient(90deg, rgba(2, 0, 28, 1) 0%, rgba(0, 0, 1, 1) 35%, rgba(2, 14, 17, 1) 100%);
}

i {
    cursor: pointer;
}